/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 100vh;
    background-color: #1e1e2f
    color: white;
    transition: width 0.3s ease;
    overflow: hidden;
}

/* Expanded sidebar */
.sidebar.active {
    width: 220px;
}

/* Toggle button*/
.toggle-btn {
    font-size: 24px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
}

/* Nav links (hidden by default) */
.nav-links {
    list-style: none;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Show nav links only when expanded */
.slidebar.active .nav-links {
    
}
